[push]
    default = simple
[gc]
    auto = 256
[crediential]
    helper = cache --timeout=3600
[color]
    ui = true
[alias]
    a = add -A

    l = log --decorate
    lgo = log --graph --oneline --decorate
    lgoa = log --graph --oneline --decorate --all

    c = commit
    cm = commit -m

    co = checkout
    cob = checkout -b

    b = branch -v

    s = status

    f = fetch

[include]
    path = ./.gitconfig.local
